## bom.movie_gross.csv.gz

In [18]:
import pandas as pd

file = pd.read_csv('dsc-phase-1-project/zippedData/bom.movie_gross.csv.gz')
df_bom = file
df_bom.head(1)

         title studio  domestic_gross foreign_gross  year
0  Toy Story 3     BV     415000000.0     652000000  2010

## imdb.name.basics.csv.gz

In [17]:
df_imdb_name = pd.read_csv('dsc-phase-1-project/zippedData/imdb.name.basics.csv.gz')
df_imdb_name.head(1)

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"

## imdb.title.akas.csv.gz

In [22]:
df_imdb_title_akas = pd.read_csv('dsc-phase-1-project/zippedData/imdb.title.akas.csv.gz')
df_imdb_title_akas.head(1)

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0

## imdb.title.basics.csv.gz

In [24]:
df_imdb_title_basics = pd.read_csv('dsc-phase-1-project/zippedData/imdb.title.basics.csv.gz')
df_imdb_title_basics.head(1)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"

## imdb.title.crew.csv.gz

In [31]:
df_imdb_title_crew = pd.read_csv('dsc-phase-1-project/zippedData/imdb.title.crew.csv.gz')
df_imdb_title_crew.head(1)

      tconst  directors    writers
0  tt0285252  nm0899854  nm0899854

## imdb.title.principals.csv.gz

In [32]:
df_imdb_title_principals = pd.read_csv('dsc-phase-1-project/zippedData/imdb.title.principals.csv.gz')
df_imdb_title_principals.head(1)

      tconst  ordering     nconst category  job   characters
0  tt0111414         1  nm0246005    actor  NaN  ["The Man"]

## imdb.title.ratings.csv.gz

In [33]:
df_imdb_title_ratings = pd.read_csv('dsc-phase-1-project/zippedData/imdb.title.ratings.csv.gz')
df_imdb_title_ratings.head(1)

       tconst  averagerating  numvotes
0  tt10356526            8.3        31

## rt.movie_info.tsv.gz

In [34]:
df_rt_movie_info = pd.read_csv('dsc-phase-1-project/zippedData/rt.movie_info.tsv.gz', sep = '\t')
df_rt_movie_info.head(1)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN

## rt.reviews.tsv.gz

In [38]:
df_rt_reviews = pd.read_csv('dsc-phase-1-project/zippedData/rt.reviews.tsv.gz', encoding = 'latin1', sep = '\t')
df_rt_reviews.head(1)

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"

## tmdb.movies.csv.gz

In [40]:
df_tmdb = pd.read_csv('dsc-phase-1-project/zippedData/tmdb.movies.csv.gz')
df_tmdb.head(1)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788

## tn.movie_budgets.csv.gz

In [42]:
df_tn = pd.read_csv('dsc-phase-1-project/zippedData/tn.movie_budgets.csv.gz')
df_tn.head(1)

   id  release_date   movie production_budget domestic_gross worldwide_gross
0   1  Dec 18, 2009  Avatar      $425,000,000   $760,507,625  $2,776,345,279